<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader Home Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1><%= settings.blog_title %></h1>
        <h2><%= settings.blog_subtitle %></h2>
        <p>by <%= settings.author_name %></p>
    </header>
    <h2 class="page-title">Reader: Home Page</h2>
    <section>
        <h2>Articles</h2>
        <ul>
            <% articles.forEach(function(article) { %>
                <li>
                    <a href="/reader-article/<%= article.article_id %>">
                        <h3><%= article.title %></h3>
                    </a>
                    <div class="no-underline">
                        <p>Subtitle: <%= article.subtitle %></p>
                        <p>Published: <%= article.published_at.toLocaleString() %></p>
                    </div>
                                     
                </li>
            <% }); %>
        </ul>
    </section>
    <footer>
        <a href="/">Back to Main Home</a>
    </footer>
</body>
</html>
