<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1><%= settings.blog_title %></h1>
        <h2><%= settings.blog_subtitle %></h2>
        <p>by <%= settings.author_name %></p>
    </header>
    <h2 class="page-title">Author: Edit Article Page</h2>
    <form action="/save-article" method="POST">
        <!-- Hidden field for article ID, important for edit functionality -->
        <input type="hidden" name="articleId" value="<%= article ? article.article_id : '' %>">
    
        <div>
            <label for="articleTitle">Title:</label>
            <!-- Ensure that if article is null, an empty string is used -->
            <input type="text" id="articleTitle" name="articleTitle" value="<%= article ? article.title : '' %>" required>
        </div>
        <div>
            <label for="articleSubtitle">Subtitle:</label>
            <input type="text" id="articleSubtitle" name="articleSubtitle" value="<%= article ? article.subtitle : '' %>" required>
        </div>
        <div>
            <label for="articleText">Body:</label>
            <textarea id="articleText" name="articleText" required><%= article ? article.body : '' %></textarea>
        </div>
        <button type="submit">Save</button>
    </form>
    
    <footer>
        <a href="/author-home">Back to Author Home</a>
    </footer>
</body>
</html>
